################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tools/DevExpress.Blazor.AnchorUtils/.vs/DevExpress.Blazor.AnchorUtils/v16/TestStore/0/000.testlog
/tools/DevExpress.Blazor.AnchorUtils/.vs/DevExpress.Blazor.AnchorUtils/v16/TestStore/0/testlog.manifest
/tools/DevExpress.Blazor.AnchorUtils/.vs/DevExpress.Blazor.AnchorUtils/FileContentIndex/3f9ea4f5-d805-47e6-950f-7e393336aa96.vsidx
